@page "/"
@using ContactServiceApp.Identity
@using System.Security.Claims
@using ContactServiceApp.Components.Layout
@using ContactServiceGrainInterfaces.User
@layout SimpleLayout

@inject AuthenticationService AuthenticationService
@inject IClusterClient ClusterClient

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to the awesome Contact Network Builder!

<AuthorizeView>
    <Authorized>
        <p>Hello, @context.User.Identity?.Name</p>
        
        <MudButton Href="/network" Variant="Variant.Filled" Color="Color.Primary">View my network</MudButton>
        
    </Authorized>
    <NotAuthorized>
        <p>You are not authorized</p>
        <MudButton @onclick="Login" Variant="Variant.Filled" Color="Color.Primary" >Log in</MudButton>
    </NotAuthorized>

</AuthorizeView>

@code
{
    private void Login()
    {
        
        var identity = new ClaimsIdentity(new[]
        {
            new Claim(ClaimTypes.Name, "John Doe"),
            new Claim(ClaimTypes.Email, "john.doe@somerandommaildomain.org"),
            new Claim("UserId", "user:1234") 
        }, "Custom Authentication Type");

        AuthenticationService.CurrentUser = new ClaimsPrincipal(identity);
    }
}
