@page "/"
@using ContactServiceApp.Components.Layout
@layout SimpleLayout

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to the awesome Contact Network Builder!

<AuthorizeView>
    <Authorized>
        <p>Hello, @context.User.Identity?.Name</p>
        
        <MudButton Href="/network" Variant="Variant.Filled" Color="Color.Primary">View my network</MudButton>
        
    </Authorized>
    <NotAuthorized>
        <MudButton Target="_top" Href="/network" Variant="Variant.Filled" Color="Color.Primary">View my network</MudButton>
        <p>You are not authorized</p>
        <MudButton Href="/identity/account/login" Variant="Variant.Filled" Color="Color.Primary">Log in</MudButton>
    </NotAuthorized>

</AuthorizeView>

@code{
}
