@page "/Account/Login"
@using ContactServiceApp.Components.Layout
@layout SimpleLayout

<h3>Login</h3>

<MudButton Variant="Variant.Filled" Color="Color.Primary" Href="/identity/account/login" Target="_top">Login</MudButton>